/* Fonts */ @import url("../../assets/fonts.css");

/* General layout */

.reveal {
  font-family: 'FiraGO';
}

.reveal h1, .reveal h2 {
  font-family: 'TilburgsAnsText';
  font-weight: normal;
  text-transform: none;
  margin-bottom: 50px;
}

.reveal a {
  color: #222222;
}

.reveal em {
  font-weight: bold;
  color: #1caf55;
}

.reveal .footer {
  position: fixed;
  bottom: 0em;
  right: 0.5em;
  font-size: 0.3em;
  text-align: right;
}


/* Images */

.reveal section img.shadow {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
}

.reveal section img.mediumimg {
  height: 5em;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
}

.reveal section img.bigimg {
  height: 10em;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
}

.reveal section img {
  background: none;
  border: 0;
  vertical-align: middle;
  box-shadow: 0px 0px 0px;
}

.reveal section img.left {
  float: left;
}

.reveal section img.right {
  float: right;
}

.reveal section video.left {
  float: left;
}

.reveal section video.right {
  float: right;
}

.reveal section img.w300 {
  width: 300px;
}

.reveal section img.w200 {
  width: 200px;
}

.reveal section div.container {
  position: relative;
  height: 5em;
  width: calc(5em + 200px);
  margin: 0 auto;
}

.stacked-image {
  position: absolute;
  height: auto;
  width: 8em;
}

p .stacked-image:nth-child(1) {
  z-index: 1;
  top: 100px;
  left: 200px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
}

p .stacked-image:nth-child(2) {
  z-index: 2;
  top: 50px;
  left: 100px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
}

p .stacked-image:nth-child(3) {
  z-index: 3;
  top: 0px;
  left: 0px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
}

/* Lists */

.reveal ul {
  margin-left: 5em;
  width: 100%;
}


/* Code blocks */

.reveal pre code {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
  font-family: "FiraCode";
  font-size: 0.8em;
  margin-top: 75px;
  max-height: 600px;
  padding: 10px;
}


/* Various */

.superbig {
  font-family: "TilburgsAnsText";
  font-size: 5em;
  padding-bottom: 50px;
}

.big {
  font-family: "TilburgsAnsText";
  font-size: 3.5em;
  padding-bottom: 50px;
}

.small {
  font-size: 0.7em;
}

.supersmall {
  font-size: 0.3em;
}

.diagonal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-30deg); /* Adjust angle as needed */
  transform-origin: center;
  z-index: 10;
  pointer-events: none; /* Allows clicking through if needed */
}
