/* Fonts */

@import url("../-assets/fonts.css");


/* General layout */

.reveal {
  font-family: 'Gill Sans';
}

.reveal h1, .reveal h2 {
  font-family: 'TilburgsAnsText';
  font-weight: normal;
  text-transform: none;
}

.reveal h1 {
  font-size: 2.35em;
}

.reveal a {
  color: #222222;
}


/* Overrides for specific kinds of pages */

html.page-portrait .reveal h1 {
  text-shadow: 0 1px 0 #aaa, 0 2px 0 #a9a9a9, 0 3px 0 #999, 0 4px 0 #999999, 0 5px 0 #888, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

html.page-portrait .reveal img.portrait {
  border: 1px solid #aaa;
  box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.7);
  height: 400px;
  margin-top: 75px;
}

html.page-portrait .reveal img.raw {
  border: 1px solid #aaa;
  box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.7);
  height: 500px;
}


/* Images */

.reveal section img {
  background: none;
  border: 0;
  vertical-align: middle;
  box-shadow: 0px 0px 0px;
}


/* Lists */

.reveal ul {
  margin-left: 5em;
  width: 100%;
}


/* Code blocks */

.reveal pre code {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
  font-family: "FiraCode";
  font-size: 0.8em;
  margin-top: 75px;
  max-height: 600px;
  padding: 10px;
}


/* Various */

.superbig {
  font-family: "TilburgsAnsText";
  font-size: 5em;
  padding-bottom: 50px;
}

.big {
  font-family: "TilburgsAnsText";
  font-size: 3.5em;
  padding-bottom: 50px;
}

.supersmall {
  font-size: 0.3em;
}

.hashtag {
  font-family: "TilburgsAnsText";
  margin: auto;
  width: 100%;
  position: fixed;
  bottom: 25px;
}

.doesitwork {
  font-size: 0.2em;
  position: fixed;
  bottom: 25px;
}

