@font-face {
    font-family: "TilburgsAns";
    src: url("../-assets/tilburgsans/TilburgsAns-Regular.woff") format('woff');
}

@font-face {
    font-family: "FiraCode";
    src: url("../-assets/firacode/FiraCode-Regular.woff") format('woff');
}

.reveal h1 {
  font-family: 'TilburgsAns';
  font-size: 2.5em;
  text-transform: none;
}

html.page-title .reveal h1 {
  color: #002b36;
  font-size: 3.77em;
}

html.page-title body {
  background-color: #eee8d5;
}

html.page-good p, html.page-bad p {
  color: #eee8d5;
}

html.page-good body {
  background-color: #2a6d54;
}

html.page-bad body {
  background-color: #95473d;
}

.reveal pre {
  box-shadow: none;
}

.reveal code a {
  color: #ccd5dd;
  font-family: "FiraCode";
}

div.sourceCode {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
}

