@font-face {
    font-family: "TilburgsAns";
    src: url("../-assets/tilburgsans/TilburgsAns-Regular.woff") format('woff');
}

@font-face {
    font-family: "FiraCode";
    src: url("../-assets/firacode/FiraCode-Regular.woff") format('woff');
}

