@font-face {
    font-family: "TilburgsAns";
    src: url("tilburgsans/TilburgsAns-Regular.woff") format('woff');
}

@font-face {
    font-family: "TilburgsAnsText";
    src: url("tilburgsanstext/TilburgsAnsText-Regular.woff") format('woff');
}

@font-face {
    font-family: "FiraCode";
    src: url("firacode/FiraCode-Regular.woff") format('woff');
}

@font-face {
    font-family: "FiraGO";
    src: url("firago/FiraGO-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FiraGO";
    src: url("firago/FiraGO-Italic.woff2") format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("firago/FiraGO-Bold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "FiraGO";
    src: url("firago/FiraGO-BoldItalic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("opensans/open-sans-v18-latin-regular.woff") format('woff');
}
