@font-face {
    font-family: "TilburgsAns";
    src: url("tilburgsans/TilburgsAns-Regular.woff") format('woff');
}

@font-face {
    font-family: "TilburgsAnsText";
    src: url("tilburgsanstext/TilburgsAnsText-Regular.woff") format('woff');
}

@font-face {
    font-family: "FiraCode";
    src: url("firacode/FiraCode-Regular.woff") format('woff');
}

